.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color: gray;
        font-size: 0.9rem;
    }
    .title{
        font-size: 2rem;
    }
}

ion-item{
    --background: #f1f1f1;
    padding: 0 1.3rem;
    width: 100%;
}
.resetPassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resetBtn{
   
    margin: 2rem 0;
}