
<ion-content [fullscreen]="true">
  <div class="container">
  <ion-card>
    <ion-card-header>
      <h2>Account Settings</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-button> 
          <div class="label-container">
            <ion-label>Password</ion-label>
            
            <ion-input class="label-name" type="password" value="1234" readonly="true"></ion-input>
          </div>

        </ion-button>
      </ion-item>

  </ion-card-content> 
</ion-card>
</div>
</ion-content>
